:root {
  --color-default-white: #ffffff;
  --color-default-black: #212121;
  --color-default-black-text: #424242;
  --color-default-gray: #9fa7af;
  --color-default-gray-border: #E1E3E5;
  --color-default-gray-bg: #F6F6F7;
  --color-secondary-gray: #d4dde6;
  --color-specific-gray: #757575;
  --color-specific-table-gray: #F9FAFB;
  --color-specific-gray-text: #9E9E9E;
  --color-secondary-gray-text: #616161;
  --color-specific-gray-bg: #656A87;
  --color-specific-light-gray-bg: #E8EAF6;
  --color-specific-gray-border: #DEE2E6;
  --color-default-green-button: #05944f;
  --color-default-green-text: #66BB6A;
  --color-default-green: #03cb03;
  --color-default-light-green: #C8E6C9;
  --color-default-blue: #00D2D2;
  --color-secondary-blue: #42A5F5;
  --color-default-light-blue: #B3E5FC;
  --color-default-red: red;
  --color-default-red-text: #EF5350;
  --color-default-orange: #FFA726;
  --color-default-pink: #F0A5BE;
  --color-default-dark-orange: #FFE0B2;
  --color-default-light-yellow: #F0F4C3;
  --color-default-purple: #5A19B4;
  --color-default-dark-blue: #1B2041;
  --color-main-dark-blue: #191E3C;
  --color-secondary-dark-blue: #232A53;

  --color-scrollbar-thumb: #BDBDBD;
  --color-scrollbar-track: #DEE2E6;
}
